.disabled {opacity: 0.5; }

.addButton{
     width:50%;
     margin-top: 30px;
   }
.draggable {
    cursor: grab;
  }
.draggable.active {
      border-bottom: 2px solid ;
 }  
 .margin{
  margin-top: -25px;
  margin-left: 35px;
 }

 .active {
    border-bottom: 2px solid rgb(46, 46, 51);
 }