<div class="container">

  <div class="text-center">
    <button class="addButton" (click)="openModal(null)" mat-raised-button color="accent">ADD NEW USER</button>\
    <button mat-raised-button (click)="onIntend()" *ngIf="canIntend">Intend</button>
    <button mat-raised-button (click)="onOutdend()" *ngIf="canOutdend" class="mx-2">Outdent</button>
  </div>
  <div class="row m-4 text-center">
    <ngx-datatable class="material mat-elevation-z5 " #mydatatable
      [columns]="[{ name: 'Name' }, { name: 'image' },{name:'Company'} ,{ name: 'Gender' }, { name: 'Age' },
     ]"
      [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
      [scrollbarH]="true" [treeFromRelation]="'manager'" [treeToRelation]="'name'" [rows]="rows"
      (treeAction)="onTreeAction($event)" [selected]="selected" [selectionType]="SelectionType.single"
      (select)="onSelect($event)">
      <ngx-datatable-column name="Name" [flexGrow]="5" [isTreeColumn]="true" [width]="250">
        <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="Double click to edit" (dblclick)="onEdit(row,'name')"
            *ngIf="editable.editing!=true || editable.rowIndex!=rows.indexOf(row) || editable.name !=='name'">
            {{ value }}
          </span>
          <input autofocus (blur)="updateValue($event, 'name',row)"
            *ngIf="editable.editing==true && editable.rowIndex==rows.indexOf(row) && editable.name=='name'" type="text"
            [value]="value" />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="File"  [flexGrow]="2" [isTreeColumn]="true" [width]="150">
        <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
       
          <button mat-mini-fab data-bs-toggle="modal" data-bs-target="#exampleModal" >
            <mat-icon>image</mat-icon>
        </button>
        <input type="file" hidden #inputField
        (change)="fileChangeEvent($event,row)">
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Company" [flexGrow]="2">
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <span title="Double click to edit" (dblclick)="onEdit(row,'company')"
            *ngIf="editable.editing!=true || editable.rowIndex!=rows.indexOf(row) || editable.name !=='company'">
            {{ value }}
          </span>
          <input autofocus (blur)="updateValue($event, 'company', row)"
            *ngIf="editable.editing==true && editable.rowIndex==rows.indexOf(row)  && editable.name=='company'"
            type="text" [value]="value" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender" [flexGrow]="1">
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <span title="Double click to edit" (dblclick)="onEdit(row,'gender')"
            *ngIf="editable.editing!=true || editable.rowIndex!=rows.indexOf(row) || editable.name !=='gender'">
            {{ value }}
          </span>
          <select autofocus (blur)="updateValue($event, 'gender', row)"
            *ngIf="editable.editing==true && editable.rowIndex==rows.indexOf(row)  && editable.name=='gender'"
            type="text" [value]="value">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>

        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Age" [flexGrow]="1">
        <ng-template let-value="value" let-rowIndex="rowIndex" let-row=row ngx-datatable-cell-template>
          <span title="Double click to edit" (dblclick)="onEdit(row,'age')"
            *ngIf="editable.editing!=true || editable.rowIndex!=rows.indexOf(row) || editable.name !=='age'">
            {{ value }}
          </span>
          <input autofocus (blur)="updateValue($event, 'age', row)"
            *ngIf="editable.editing==true && editable.rowIndex==rows.indexOf(row)  && editable.name=='age'" type="text"
            [value]="value" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" [flexGrow]="1" [width]="250">
        <ng-template let-rowIndex="rowIndex" class="text-center" let-value="value" let-row="row"
          ngx-datatable-cell-template>
          <button class="draggable" mat-mini-fab color="black" draggable="true" (dragover)="allowDrop($event,row.id)"
            (dragstart)="onDragStart(rowIndex,row)" (drop)="onDrop($event, rowIndex,row)">
            Drag
          </button>

          <button mat-mini-fab class="mx-2" (click)="openModal(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="black" (click)="onDelete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>


<div class="modal fade" id="exampleModal"  tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add Photo</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
            <div class="modal-body" >
                <div class="text-center">
                <div class="" >
                    <img class="photo mb-2"  alt="">
                </div>
             <button mat-raised-button color="accent" (click)="onEditImage()">Update Photo</button>

            </div>  <div class="row mt-3"  >
                   <div  class="col-md-7">
                <image-cropper style="height: 200px;" [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
                    (cropperReady)="cropperReady($event)" format="png"
                    (imageCropped)="imageCropped($event)"  [style.display]="cropperVisible ? null : 'none'"></image-cropper>
                </div>
                <div class="col-md-5">
                <img [src]="croppedImage" style="height: 100px;" />
            </div> </div>
            </div>
            <div class="modal-footer">
                <button type="button" mat-raised-button data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="onSaveImage()" data-bs-dismiss="modal" mat-raised-button
                    color="primary">Save Photo</button>
            </div>


        </div>
    </div>
</div>