.disabled {opacity: 0.5; }

.addButton{
     width:23%;
     margin-top: 30px;
   }
.draggable {
    cursor: grab;
  }
.draggable.active {
  border-bottom: 2px solid blue;
}
 ngx-datatable {
  max-height: 70vh;
  overflow-y: scroll;
}

input{
  width: 70%;
}
.imageDiv{
  height: 80px;
  width: 80px;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
}