<div class="container">

  <div class="text-center">
    <button class="addButton" (click)="openModal(null)" mat-raised-button color="accent">ADD NEW USER</button>
  </div>
    <div class="row m-4">
     

    <ngx-datatable
      class="material mat-elevation-z5"
       #mydatatable
       [columns]="[{ name: 'Name' },{name:'Company'} ,{ name: 'Gender' }, { name: 'Age' }]"
      [columnMode]="ColumnMode.force"
     [headerHeight]="50"
      [footerHeight]="50" 
      rowHeight="auto"  [limit]="3"
      [treeFromRelation]="'manager'"  
      [treeToRelation]="'name'" 
      [rows]="rows" [isDrag]="true" 
      (treeAction)="onTreeAction($event)" 
    >
      <ngx-datatable-column name="Name"  [flexGrow]="5" [isTreeColumn]="true">
      <ng-template let-rowIndex="rowIndex"  let-value="value" let-row="row"
       ngx-datatable-cell-template>
        <div [innerHTML]="value"  draggable="true"
        draggable="true"
        (dragover)="allowDrop($event,row.id,row)"
        (dragstart)="onDragStart(rowIndex,row)"
        (drop)="onDrop($event, rowIndex,row)"  ></div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Company" [flexGrow]="2">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender" [flexGrow]="1">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Age" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column  name="Action"  [flexGrow]="2">
        <ng-template  let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
          <button mat-mini-fab (click)="openModal(row)" ><mat-icon>edit</mat-icon></button>
          <button mat-mini-fab color="black" (click)="onDelete(row)" ><mat-icon >delete</mat-icon></button>
        </ng-template>
      </ngx-datatable-column>
     
    </ngx-datatable>
  </div></div>