<h2 mat-dialog-title>ADD USER</h2>
<form [formGroup]="userForm" class="text-center " >
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="name?.getError('required')">Name is required!</mat-error>
                </mat-form-field>


                <mat-form-field>
                    <input matInput placeholder="Email address" formControlName="email">
                    <mat-error *ngIf="email?.getError('required')">Email is required!</mat-error>
                    <mat-error *ngIf="email?.getError('email')">
                        Please enter a valid email
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
                <mat-form-field>
                    <input matInput type="number" placeholder="Age" formControlName="age">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Company" formControlName="company">
                    <mat-error *ngIf="company?.getError('required')">Company is required!</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
            <mat-form-field> 
                    <mat-label>Select Manager</mat-label>
                    <mat-select formControlName="manager">
                        <mat-option [disabled]="manager.name==name?.value" *ngFor="let manager of managers" [value]="manager.name">
                           {{manager.name}}
                        </mat-option>
                        <mat-option [value]=null >
                           None
                         </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option  *ngFor="let gender of genders" [value]="gender">
                           {{gender}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div>
            <div>
                <button  mat-raised-button color="accent" (click)="onEditImage()"  >
                     Add Image <mat-icon>image</mat-icon>
                </button>
                <input type="file"  hidden #inputField (change)="onSelectedFile($event)"  >
            </div>
           <div *ngIf="imageData" >
               <img  alt="" style="height: 150px; ">
           </div>
       <div class="row mt-3"  >
            <div  class="col-md-7">
         <image-cropper style="height: 200px;" [imageChangedEvent]="imageChangedEvent"
             [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
             (cropperReady)="cropperReady($event)" format="png"
             (imageCropped)="imageCropped($event)"  [style.display]="cropperVisible ? null : 'none'"></image-cropper>
         </div>
         <div class="col-md-5">
         <img [src]="croppedImage" style="height: 100px;" />
     </div> 
     <!-- <button type="button" (click)="onSaveImage()" data-bs-dismiss="modal" mat-raised-button
                    color="primary">Save Photo</button> -->
     </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button [disabled]="!userForm.valid" type="submit" (click)="onSubmit()" color="accent">Submit</button>
    </mat-dialog-actions>
</form>


<!-- <div class="modal fade" id="exampleModal"  tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add Photo</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
            <div class="modal-body" >
                <div class="text-center">
                <div class="" >
                    <img class="photo mb-2"  alt="">
                </div>
             <button mat-raised-button color="accent" (click)="onEditImage()">Update Photo</button>

            </div>  <div class="row mt-3"  >
                   <div  class="col-md-7">
                <image-cropper style="height: 200px;" [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
                    (cropperReady)="cropperReady($event)" format="png"
                    (imageCropped)="imageCropped($event)"  [style.display]="cropperVisible ? null : 'none'"></image-cropper>
                </div>
                <div class="col-md-5">
                <img [src]="croppedImage" style="height: 100px;" />
            </div> </div>
            </div>
            <div class="modal-footer">
                <button type="button" mat-raised-button data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="onSaveImage()" data-bs-dismiss="modal" mat-raised-button
                    color="primary">Save Photo</button>
            </div>


        </div>
    </div>
</div> -->
