<h2 mat-dialog-title>ADD USER</h2>
<form [formGroup]="userForm" class="text-center " >
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="name?.getError('required')">Name is required!</mat-error>
                </mat-form-field>


                <mat-form-field>
                    <input matInput placeholder="Email address" formControlName="email">
                    <mat-error *ngIf="email?.getError('required')">Email is required!</mat-error>
                    <mat-error *ngIf="email?.getError('email')">
                        Please enter a valid email
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
                <mat-form-field>
                    <input matInput type="number" placeholder="Age" formControlName="age">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Company" formControlName="company">
                    <mat-error *ngIf="company?.getError('required')">Company is required!</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
            <mat-form-field> 
                    <mat-label>Select Manager</mat-label>
                    <mat-select formControlName="manager">
                        <mat-option [disabled]="manager.name==name?.value" *ngFor="let manager of managers" [value]="manager.name">
                           {{manager.name}}
                        </mat-option>
                        <mat-option [value]=null >
                           None
                         </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option  *ngFor="let gender of genders" [value]="gender">
                           {{gender}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div>
            <div>
                <button  mat-raised-button color="accent" class="addButton" (click)="onEditImage()"  >
                    Upload Image <mat-icon>image</mat-icon>
                </button>
                <input type="file"  hidden #inputField (change)="onSelectedFile($event)"  >
            </div>
       <div class="row mt-3"  >
           <div class="col-md-5">
         <img [src]="croppedImage" style="height: 100px;" />
         <br>
         <button type="button" class="addButton mt-4" (click)="cropperVisible = !cropperVisible"  mat-raised-button
         *ngIf="cropperVisible" color="accent">Save Photo</button>
     </div> 
            <div  class="col-md-7">
         <image-cropper style="height: 200px;" [imageChangedEvent]="imageChangedEvent"
             [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
             (cropperReady)="cropperReady($event)" format="png"
             (imageCropped)="imageCropped($event)" *ngIf="cropperVisible" ></image-cropper>
         </div>
         
    
     </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button [disabled]="!userForm.valid" type="submit" (click)="onSubmit()" color="accent">Submit</button>
    </mat-dialog-actions>
</form>