<div class="container">
  <div class="row m-3 text-center">
<ejs-treegrid [dataSource]='User | async ' [treeColumnIndex]='1'
            hasChildMapping='isParent' parentIdMapping="parentId" idMapping="id"
            [editSettings]="editSettings" (dataStateChange)="dataStateChange($event)" 
            (dataSourceChanged)="dataSourceChanged($event)"
            [toolbar]="toolbar"  [sortSettings]="sortSettings"
            [allowFiltering]="true" [allowSorting]="true" [allowPaging]="true" [pageSettings]='pageSettings' >
                <e-columns>
                  <e-column field='id' type="number" [isPrimaryKey]="true" headerText='User ID' textAlign='Right' width=70></e-column>
                     <e-column field='firstName' editType='stringedit' type="string" headerText='First Name' textAlign='Right' width=70></e-column>
                     <e-column field='lastName' editType='stringedit' type="string" headerText='Last Name' textAlign='Right' width=70></e-column>
                     <e-column field='email' editType='stringedit' type="string" headerText='Email' textAlign='Right' width=70></e-column>
                    <e-column field='contact' type="number" editType='numericedit' headerText='Contact' textAlign='Right' width=70></e-column>
                    <e-column field='gender' type="string" headerText='Gender' editType='stringedit' textAlign='Right' width=70></e-column>
                      
                </e-columns>
           </ejs-treegrid>
           </div>
           </div>
